/*#gkspenden_results {
  width:100%;
  min-height: 600px;
}*/

#gkspenden_export {
  margin: -15px 0 -15px 0;
  width:95%;
  text-align:right;
}

#gkspenden_filter_date {
  width:90%;
}

#gkspenden_filter_box1 {
  margin:10px;
  float:left;
  width:30%;
}

/* Anzahl gefundene Spenden */
#gkspenden_results_count {
  margin: -15px 0 -15px 0;
  font-style:italic;
  font-weight: bold;
  width:95%;
  text-align: right;
}


#gkspenden_view img {
  cursor:pointer;
}

#gk_spenden_filter_box1.form-group {
   margin-left: 10px;
}
/*
#gkspenden_results table {
  margin: 50px 0 0 0;
  width: 95%;
}

#gkspenden_results table tbody tr {
  background-color: #E8EDFF;
  border-top: 1px solid transparent;
}

#gkspenden_results table tbody td {
  border-top: 1px solid transparent;
  border-bottom: 1px solid white;
  color: #669;
  padding: 0px 5px 0px 5px; 
}
*/
/* Titel Zelle in Breite Beschränken */
/*#gkspenden_results table tbody td:first-child {
  max-width: 300px;
}


#gkspenden_results table tbody tr:hover td {
  background-color: #D0DAFD;
  color: #339;
}*/